.food-request-search {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
    margin-left: 400px;
}

.food-request-search:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.food-request-button {
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.food-request-button:hover {
    background-color: #0056b3;
}
