.req-nav-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #000;
  color: white;
  position: fixed;  
  top: 0;         
  left: 0;
  width: 100%;     
  z-index: 1000;   
}

.req-nav-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1px; 
}

.req-nav-logo-text {
  padding-left:0px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  line-height: 0.9;
  margin-left: -25px; 
}

.req-nav-top-text{
  font-size: 35px;
  font-weight: bold;
  color: rgb(246, 246, 246);
  text-decoration: none;
  padding-left:0px;
}

.req-nav-bottom-text{
  font-size: 35px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-left:60px;
  text-decoration: none;
}

.req-nav-lk-text {
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.req-nav-logo-img {
  width: 80px; 
  height: auto;
}

.req-nav-nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.req-nav-nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px; 
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.req-nav-nav-links a:hover {
  color: #595d60;
}

.req-nav-nav-search-container {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 15px;
  padding: 5px 10px;
  width: 230px;
  height: 40px;
  margin-right: 20px;
}

.req-nav-nav-search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  background: transparent;
}

.req-nav-nav-search-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.req-nav-nav-search-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.req-nav-feedback {
  margin-left: 20px;
}

.req-nav-feedback-icon {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.req-nav-notifications {
  margin-left: 20px;
}

.req-nav-notification-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.req-nav-notification-icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: invert(1); 
}

.req-nav-signout {
  margin-left: 100px;
}

.req-nav-signout-btn {
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  margin-right: 20px;
}

.req-nav-signout-btn:hover {
  background: #c0392b;
}

body {
  padding-top: 80px;
}