/* Ensure the page container takes full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Page container to hold content and footer */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

/* Navbar */
nav {
  color: white;
  padding: 0;
  text-align: center;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 0;
}

/* Footer */
footer {
  background-color: #2c3e50; /* Example color */
  color: white;
  padding: 0px;
  text-align: center;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

.operating-manager-container {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: none !important;
  
}

.backgroundOp{
    height: 100% !important;
    width: 100% !important;
    background: linear-gradient(135deg, #e0e7ef 0%, #f7fafc 100%) !important;
}

.operating-manager-content {
  flex: 1;
  padding: 0;
  margin-left: 250px;
  margin-top: none !important;
}

.nav-link, 
.profile-section, 
.sign-out {
  text-decoration: none;  
  color: inherit;     
  display: flex;
  align-items: center;
  padding: 5px 0px;
  transition: background 0.3s ease-in-out;
}

.nav-link:hover, 
.profile-section:hover, 
.sign-out:hover {
  background: rgba(0, 0, 0, 0.1); 
}

.nav-link:focus, 
.profile-section:focus, 
.sign-out:focus {
  outline: none;
}

@import "leaflet/dist/leaflet.css";

